@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html,
body {
  height: 100%;
  overflow: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

input {
  color: rgb(var(--foreground-rgb));
  @apply rounded-lg border px-5 py-4 transition-colors;
  @apply border-gray-300 dark:border-neutral-700 focus:border-gray-400 focus:dark:border-neutral-500;
  @apply bg-gray-100 dark:bg-neutral-800/30;
  @apply focus:outline-none;
}

button {
  @apply text-black dark:text-white hover:text-white dark:hover:text-black;
  @apply bg-black hover:bg-black dark:hover:bg-white;
  @apply px-8 py-4 rounded-lg transition-colors;
  @apply focus:outline-none;
  @apply border-2 border-black dark:border-white;
  @apply font-bold;
}

a {
  @apply text-blue-600;
}
